<input checked type="checkbox" id="check">
<label for="check">
  <div class="bar">
    <i class="fas fa-bars" id="btn"></i>
  </div>
  <span class="badge"><i class="fas fa-times" id="cancel"></i></span>
</label>
    <div class="sidebar">
        <h3 class="text-center"><span class="rouge" style="color: rgb(46, 244, 7)">API</span><span class="blanc" style="color: white">-SPORT</span></h3> 
        <div>
          {% if user.photo %}
            <img src="{{ user.photo.url }}" class="photo">
          {% endif %} 
        </div>
        <ul>
            <li><a hx-swap="outerHTML"  hx-push-url="true" hx-target="#dash" hx-get="{% url 'dashboard' %}"><i class="far fa-address-card"></i> Administration</a></li>
            <li><a hx-target="#content" hx-push-url="true" hx-get="{% url 'dashboard_personnel' %}"><i class="fas fa-user"></i> Personnel</a></li>
            <li><a hx-target="#content" hx-push-url="true" hx-get="{% url 'dashboard_partenaire' %}"><i class="fas fa-address-card"></i> Partenaire</a></li>
            <li><a hx-target="#content" hx-push-url="true" hx-get="{% url 'dashboard_structure' %}"><i class="fas fa-project-diagram"></i> Structure</a></li>    
            <li><a hx-target="#content" hx-push-url="true" hx-get="{% url 'dashboard_option' %}"><i class="fas fa-sync"></i>Option</a></li>
            <li><a hx-swap="outerHTML"  hx-push-url="true" hx-target="#dash" hx-get="{% url 'index' %}"><i class="fas fa-undo"></i> Retour</a></li>
        </ul> 
    </div>