 
body{
    color: beige;
    background-color: #1d1b1e;
    background-image: url(couverture.jpg) ; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;   
}

h1{
    padding-top: 50px;
}
.bloc{
    text-align: center;
    width: 380px;
    height: auto;
    background: black;
    border: 1px solid black; 
    margin-top: 260px; 
    margin-left: 150px;               
}
p{  
    margin-top: 40px;
    font-family: cursive;
    font-weight: lighter;
    font-size: 18px;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.btn{
    margin-top: 100px;
    background-color: blue;
    color: white;
    border: 1px solid black;
    margin-bottom: 60px;    
}    


ul li{
    color : rgb(237, 94, 101);
    font-size: 14px;
    list-style-type: none;   
    padding-right: 30px;
}
