body{
    color: beige;   
    background-color: #1d1b1e;
    background-image: url(homme.jpg);   
    background-repeat: no-repeat;
    background-size: cover;   
}
.top{
    margin-top: 260px;     
 }
.float {
    height: 270px;
    width: 280px;
    object-fit: cover;    
  }
.tech {
    align-items: center;
    overflow: hidden;   
  }
.container{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 1000px;
    margin-left: 100px;
}
#button{
    margin-top: 160px;
}
.suffit{
    color: #00ff1A!important;
}