{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'OptionPartenaire.css' %}"> 
{% endblock head %}

{% block title %}option partenaire{% endblock title %}

{% block content %}
<div class="top">
    <div class="row">         
        <div class="suffit col-2">  
            <p> Nom :</P>
            <p> Responsable : </p>            
            <p> Description</p><br><br>      
            <p> Numeros : </P>
            <p> Actif :</p>
            <p> Ses structures :</p>
        </div>
        <div class="col-2">  
            <p>{{ partenaires.ville }}</P>
            {% if  partenaires.resp.nom %} 
                <p>{{ partenaires.resp.nom }}</p>  
            {% else %} 
                <p>inconnu</p>
            {% endif %} 
            <p>{{ partenaires.adresse }}</P>
            <p>{{ partenaires.description }}</P>                     
            <p>{{ partenaires.numberPhone|phoneNumber }}</P>
            {% if user.is_admin %}
            <form method ="POST">
                {% csrf_token %}  
                <p hx-post="{% url "valide" partenaires.pk %}"> {% render_field form.actif  %}</p>
            </form>
            {% else %}
                {% if partenaires.actif %}
                <p><img src={% static 'vert.png' %}  style="width:10%;margin-left:1rem;"></p>
                {% else %}                                      
                <p><img src={% static 'false.png' %}  style="width:8%;margin-left:1rem;"></p>
                {% endif %}
            {% endif %}                
            {% for structure in structures %}    
              <p>{{ structure.nom }}</p>
            {% endfor %}
            </div>    
                     
        <div class="col-4">
            <div class="tech">
            {% if partenaires.photo.url %} 
              <img src={{ partenaires.photo.url }} class="rounded-3 img-fluid float" alt={{ partenaires.photo.url }}>
            {% else %}
              <img src={% static 'inconnu.jpg' %} class="rounded-3 img-fluid float" alt="inconnu.jpg">
            {% endif %}
            </div>
        </div>        
        {% if user.is_admin %}
        <div class="col-4">
            <form method ="POST">
                <h2> Les Options Globals</h2>
                {% csrf_token %}  
                <p>{% render_field form.option  %}</p>
            </div>
            {% else %}
            <div class="col-2">
                {% for option in options %}
                <p> {{ option.slug }}</p>
                {% endfor %}
            </div> 
        <div class="col-2">
            {% for option in options %}                
                {% if option.id in listoptionid %}
                <p><img src={% static 'vert.png' %} style="width:10%;margin-left:1rem;"></p>
                {% else %}                                      
                <p><img src={% static 'false.png' %} style="width:8%;margin-left:1rem;"></p>
                {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>  
    <div class ="row-3">
        <div class="col-3 button">
            {% if user.is_admin %}
            <a hx-swap="outerHTML" hx-target="#page" hx-post="{% url "valide" partenaires.pk %}" class="btn btn-dark btn-lg" tabindex="-1" role="button" id="button" aria-disabled="true">Accepter les modifications</a>
            {% endif %}
            <a hx-swap="outerHTML" hx-target="#page"  hx-push-url="true" hx-get="{% url 'partenaire' %}" class="btn btn-dark btn-lg" tabindex="-1" role="button" id="button" aria-disabled="true">Retour</a>    
        </div> 
</div>
</form>
{% endblock %}
