{% extends 'base.html' %}
{% url 'structure' as artenaire %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'partner.css' %}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" defer></script>
{% endblock head %}

{% block title %}partenaire{% endblock title %}

{% block content %}
  {% include "partiel\swap.html" %}
{% endblock content %}

{% block javascript %}
<script type="module">
     const swiper = new Swiper('.swiper', {
      slidesPerView: 3,
      centeredSlides: true,
      spaceBetween: 30,
      loop:true,
      pagination: {
        el: '.swiper-pagination',
        type: 'fraction',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
        
    });
</script>
{% endblock javascript %}
