{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'partner.css' %}"> 
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
{% endblock head %}

{% block title %}structure{% endblock title %}


{% block content %}
<div class="top">
<div class="row">
{% for structure in structures %}
        <div class ="col-md-3 carte" id="ici">
            <div class="card card-sm" style="width: 20rem;">
                <div class="style-dance">
                <img src="{{ structure.photo.url }}" class="ville card-img-top" style ="height: 15rem;" alt="{{ structure.photo.url }}">               
                </div>               
                <div class="card-body text-center">
                    <h3 class="card-title" class="anime"><spam style="color: #00ff1A">API</spam> -{{ structure.nom }}</h3><br>
                    <p class="card-text">{{ structure.adresse }}</p>
                    <p class="card-text">Partenaire : {{ structure.part }}</p>
                    <p class="card-text">Nom : {{ structure.user.nom }}</p>
                    <p class="card-text">Telephone : {{ structure.numberPhone|phoneNumber }} </P>
                    <a  hx-swap="outerHTML" hx-target="#page"  hx-push-url="true" hx-get="{% url 'detail' structure.pk %}" class="btn btn-dark">Ses options</a>
                    <a  hx-swap="outerHTML" hx-target="#page"  hx-push-url="true" hx-get="{% url 'responsable' structure.pk %}" class="btn btn-dark">Le responsable</a>
                </div>
            </div>            
        </div>    
{% endfor %}
    </div>
</div>
<div class= row>
<nav class="pagi">
    <ul class="pagination justify-content-center">        
        {% if structures.has_previous %}
            <li class="page-item">
                <a class="page-link" hx-swap="outerHTML" hx-target="#page" hx-push-url="true" hx-get="{% url 'structures' slug=slug %}?page={{ structures.previous_page_number }}">
                   <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
        {% if structures.paginator.num_pages > 1 %}
        <li class='page-item'><p class="page-link">Page {{ structures.number }} sur {{ structures.paginator.num_pages }}</p></li>
        {% endif %}
        {% if structures.has_next %}
        <li class="page-item">
            <a class="page-link" hx-swap="outerHTML" hx-target="#page" hx-push-url="true" hx-get="{% url 'structure' slug=slug %}?page={{ structures.next_page_number }}">
               <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>   
</nav>
</div>
    {% endif %}
{% endblock content %}