{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'partner.css' %}"> 
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
{% endblock head %}

{% block title %}structure{% endblock title %}


{% block content %}
{% include "partiel\swap_structure.html" %}
<div class ="row-3">
    <div class="col-3 buttom">
        <a  hx-target="#page"  push-hx-url="True" hx-get="{% url 'partenaire' %}" class="btn" style="color:white;"  tabindex="-1" role="button" id="but" aria-disabled="true"><img src="{% static "retour.png" %}" style="height:1rem"></a>  
    </div> 
</div>
{% endblock content %}

{% block javascript %}
<script type="module">
     const swiper = new Swiper('.swiper', {
      slidesPerView: 3,
      centeredSlides: true,
      spaceBetween: 30,
      loop:true,
      pagination: {
        el: '.swiper-pagination',
        type: 'fraction',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },        
    });
</script>
{% endblock javascript %}