h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;       
    display: inline-flex;
    margin-top: 100px;
    letter-spacing: 10px;
    font-size: 120px;
    font-style: italic;    
} 
body{
    color: white;
    background-color: #1d1b1e;
    background-image: url(couverture.jpg) ; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;   
}
.top{
    margin-top: 260px; 
    margin-left: 120px;
  }
