{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'prof.css' %}"> 
{% endblock head %}

{% block title %}profils{% endblock title %}

{% block content %}
<div class="container md-6" >
    <div class="top"> 
        <div class ="row">
            <div class="suffit col-2 col-md-3 col-lg-3 px-3 mt-3">         
            <p> Nom :</P>
            <p> Prénom:</P>
            <p> Email : </p>
            <p> Adresse:</P>
            <p> Ville: </P>
            <p> Code Postal: </P>            
            </div>
            <div class="col-2 col-md-3 col-lg-3 px-3 mt-2">            
            <p>{{user.nom}}</P>
            <p>{{user.prenom}} </P>
            <P>{{user.email}}
            <p>{{user.adresse}}</P>
            <p>{{user.ville}}</P>
            <p>{{user.CodePostal}}</P>  
            </div>
            <div class="col-12 col-md-12 col-lg-3 px-3 mt-3">
            <div class="tech">
           
            {% if user.is_authenticated and user.photo.url %} 
            <img src={{ user.photo.url }} class="rounded-3 img-fluid float"  alt={{ user.photo.url }}>
            {% else %}
            <img src={% static 'inconnu.jpg' %} class="rounded-3 img-fluid float"  alt="inconnu.jpg">
            {% endif %}
          
            </div>
            </div>
        </div> 
    </div>
    <div class ="row-3">
        <a hx-target="#page" hx-push-url="true" hx-get="{% url 'modifprofils' %}" class="btn btn-dark btn-lg" tabindex="-1" role="button" id="button" aria-disabled="true">Modifier le profils</a>
        <a hx-target="#page" hx-push-url="true" hx-get="{% url 'password' %}" class="btn btn-dark btn-lg" tabindex="-1" role="button" id="button" aria-disabled="true">Modifier le password</a>
    </div> 
</div>
{% endblock %}