{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'login.css' %}"> 
{% endblock head %}

{% block title %}login{% endblock title %}

{% block content %}
<div class="bloc">
    <h1>Connexion</h1>
    <form method ="POST">
       {% csrf_token %}
       <p> 
           <Label for="username"><p>Nom d'utilisateur</P></Label>
           <input id="username" type="text" name="username">
       </p>
       <p>
           <label for="password">Mot de passe</label></p>
           <input id="password" type="password" name="password">
       </p>
       <button class="btn" type="submit">Se connecter</button>
       <div class = brand>
           <p><a class="btn style1" href='signup'>Crée un compte</a></P>
       </div>
   </div>
{% endblock %}