{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'signup.css' %}"> 
{% endblock head %}

{% block title %}liste options{% endblock title %}

{% block content %}
<div class="bloc">
    <h1>Liste<spam style="color: white; font-style: italic;"> des options</spam></h1><br><br>
    {% for option in options %}
    <h2><div class="encadrer">{{ option.slug }}</div><h2>
    <section> {{ option.description }}<span></span></section>
    {% endfor %}
    <a hx-swap="outerHTML" hx-target="#page" hx-push-url="true" hx-get="{% url 'rajoutoption' %}" class="btn btnr btn-dark">Ajoutez une option</a></P>     
{% endblock %}