{% extends 'dashbord.html' %}
{% load static %}
{% block title %}dashboard_personnel{% endblock title %}

{% block content %}
<div class="fixe">
    <h3 class="text-center"><span id="h3">Le</span> Personnel</h3>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-1"><h5 class="d-flex align-items-center h-100" id="color"></p></div>
            <div class="col-1"><h5 class="d-flex justify-content-center align-items-center h-100" id="color">Prénom</p></div>
            <div class="col-2"><h5 class="d-flex align-items-center h-100" id="color">Adresse</p></div>
            <div class="col-1"><h5 class="d-flex justify-content-center align-items-center h-100" id="color">Etablissement</p></div>
            <div class="col-2"><h5 class="d-flex justify-content-center align-items-center h-100" id="color">Grade</p></div>   
            <div class="col-1"><h5 class="d-flex justify-content-center align-items-center h-100" id="color">Email</p></div> 
            <div class="col-1"><h5 class="d-flex justify-content-center align-items-center h-100" id="color">Actif</p></div>          
        </div>
        {% for personnel in personnel %}
            <div class="row">
                <div class="col-1">  
                {% if personnel.photo %}
                    <img src="{{ personnel.photo.url }}"  class="imga d-flex align-items-center h-99"  alt="{{ personnel.photo.url }}">
                {% else %}
                    <img src="{% static 'inconnu.jpg' %}"  class="imga d-flex align-items-center h-99" alt="{% static 'inconnu.jpg' %}">
                {% endif %}                 
                </div>
                <div class="col-1">         
                     <h5 class="d-flex justify-content-center align-items-center h-100"><span id="color">{{ personnel.nom }}</span></h5>
                </div>
                <div class="col-1">     
                    <p class="d-flex justify-content-center align-items-center h-100 descrip">{{ personnel.prenom }}</p>
                </div>
                <div class="col-2">     
                    <p class="d-flex align-items-center h-100">{{ personnel.adresse }}, {{personnel.CodePostal}}, {{personnel.ville}}</p>
                </div>              
                <div class="col-1">     
                    {% if personnel.structure %}
                    <p class="d-flex justify-content-center align-items-center h-100">{{ personnel.structure.nom }}</p>
                    {% elif personnel.responsable %}
                    <p class="d-flex justify-content-center align-items-center h-100">{{ personnel.responsable.ville }}</p>
                    {% else %}
                    <p class="d-flex justify-content-center align-items-center h-100">--------</p>
                    {% endif %}
                </div>
                <div class="col-2">  
                   {% if personnel.permission == "Responsable" %}
                   <p style="color:rgb(6, 225, 254)" class="d-flex fw-bold justify-content-center align-items-center h-100">{{ personnel.permission}}</p>
                   {% elif personnel.permission == "Partenaire" %}
                   <p style="color:rgb(246, 254, 6)" class="d-flex fw-bold justify-content-center align-items-center h-100">{{ personnel.permission}}</p>
                   {% else %}
                   <p style="color:rgb(237, 94, 101)" class="d-flex fw-bold justify-content-center align-items-center h-100">{{ personnel.permission}}</p>
                    {% endif %}
                </div>
                <div class="col-1">     
                    <p class="d-flex justify-content-center align-items-center h-100">{{ personnel.email }}</p>
                </div>
                <div class="col-1">   
                    {% if personnel.is_admin %}
                    <P class="d-flex justify-content-center align-items-center h-100">--------</P>
                    {% endif %}  
                    <form method="POST" class="d-flex justify-content-center align-items-center h-100 pt-6">    
                    {% csrf_token %} 
                    {% if not personnel.is_admin %}
                    {% if personnel.is_active %}
                    <p hx-swap="outerHTML" hx-target="#dash" hx-confirm="Etes vous sur de désactivé ce personnel?" hx-post="{% url 'valide_actif_personnel' personnel.id %}"><input checked type="checkbox" name="actif"></p>
                    {% else %}
                    <p hx-swap="outerHTML" hx-target="#dash" hx-confirm="Etes vous sur de activé ce personnel?" hx-post="{% url 'valide_actif_personnel' personnel.id %}"><input type="checkbox" name="actif"></p>
                    {% endif %}
                    {% endif %} 
                </form> 
                </div>
                <div class="col-1">
                    <p class="d-flex justify-content-center align-items-center h-100"><a hx-swap="outerHTML" hx-push-url="true" hx-get="{% url 'modif-personnel' personnel.pk %}" hx-target="#dash" class="btn btnr btn-dark">Modifier</a></p>
                </div>
                <div class="col-1">
                    {% if personnel.is_admin %}
                    <P class="d-flex justify-content-center align-items-center h-100">--------</P>
                    {% endif %} 
                    {% if not personnel.is_admin %}
                        <p class="d-flex justify-content-center align-items-center h-100"><a  hx-target="#dash" hx-delete="{% url 'delete-personnel' personnel.pk %}" hx-confirm="Etes vous sur que vous désirez supprimer?" class="btn btnr danger">Effacer</a></p>
                    {% endif %}
                </div>
            </div>     
        {% endfor %}        
    </div>
    <div class="bas">
       <p> <a hx-target="#dash" hx-push-url="true" hx-get="{% url 'rajoutprofils' %}" class="ajouter btn btnr btn-dark">Ajoutez un profils</a></p>
    </div>
</div>
{% endblock content %}