{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'dash.css' %}">
{% endblock head %}

{% block title %}Mon partenaire{% endblock title %}

{% block content %}
<div class="container md-6" >
    <div class="top"> 
        <div class ="row">
            <div class="suffit col-2 col-md-3 col-lg-3 px-3 mt-3">         
            <p> Nom :</P>
            <p> Description:</P>
            <br>
            <br>                             
            <p> Responsable : </p>           
            <p> Email : </p>
            <p> Téléphone : </P>  
            </div>
            <div class="col-2 col-md-3 col-lg-3 px-3 mt-2">   
            <p>{{user.partenaire.ville}}</P>
            <p>{{user.partenaire.description}}</P>                 
            <p><a  hx-swap="outerHTML" hx-target="#page"  hx-push-url="true"  hx-get="{% url 'profils' %}" class="nom">{{user.nom}}</a></P>
            <P>{{user.email}}</p>
            <p>{{user.partenaire.numberPhone|phoneNumber}}</P>                            
            </div>
            <div class="col-12 col-md-12 col-lg-3 px-3 mt-3">
            <div class="tech">         
            <img src={{ user.partenaire.photo.url }} class="rounded-3 img-fluid float" alt={{user.partenaire.photo}}>      
            </div>
            </div>
        </div> 
    </div>
    <div class ="row-3">
        <div class="col-3">
        <a hx-swap="outerHTML" hx-target="#page" hx-push-url="true" hx-get="{% url 'modifpartenaire' slug=user.partenaire.slug %}" class="btn btn-dark btn-lg" tabindex="-1" role="button" id="button" aria-disabled="true">Modifier</a>
    </div> 
</div>

{% endblock content %}