<!DOCTYPE html>
{% load static%}
{% url 'index' as index %}
{% url 'partenaire' as partenaire %}
{% url 'profils' as profils %}



<html lang=fr>
<head>         
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=google">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static 'favicon.jpg' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
{% block head %} {% endblock head %}
    <title>Api Sport - {% block title%}{% endblock %} </title>
</head>
<body>
<div class="row">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'logo.png' %}" class="navbar-brand ms-1 ms-md-4" height="75" font-size="56" alt="logo_api">API SPORT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">         
                <ul class="navbar-nav text-center ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link {% if request.path == index %} active {% endif %} me-lg-5" href="{% url 'index' %}">Accueil</a></li>   
                    <li class="nav-item"><a class="nav-link {% if request.path == partenaire %} active {% endif %} me-0 me-lg-5" href="{% url 'partenaire' %}">Partenaire</a></li>                                                                        
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown me-0 me-lg-5">
                        <a class="nav-link dropdown-toggle " id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          {{ user.nom }}</a>                        
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item " href="#">Permission</a></li>
                          <li><a class="dropdown-item " href="{% url 'profils' %}">Profils</a></li>                                            
                          <li><a class="dropdown-item " href="{% url 'logout' %}">Déconnection</a></li>
                        </ul>                                                      
                    {% else %}
                        <li class="nav-item"><a class="nav-link {% if request.path == signup %} active {% endif %} me-0 me-lg-5" href="{% url 'login' %}">connection</a></li>
                    {% endif %}   
                    {% if user.is_authenticated and user.photo.url %}  
                    <li class="nav-item"><a class="nav-link me-0 me-lg-5"><img src="{{ user.photo.url }}" class="navbar-brand ms-1 ms-md-4 rounded-3" height="175" font-size="56" alt="logo_api"></a></li> 
                    {% endif %} 
                    {% if user.is_authenticated and not user.photo.url %}  
                    <li class="nav-item"><a class="nav-link me-0 me-lg-5"><img src="{% static 'inconnu.jpg' %}" class="navbar-brand ms-1 ms-md-4 rounded-3" height="175" font-size="56" alt="logo_api"></a></li>  
                    {% endif %} 
                    </ul>
                    {% if user.is_authenticated %}
                    <form method="get" class="d-flex ml-3" action="{% url 'recherche' %}">
                        <input placeholder="Rechercher" class="form-control me-2" type="searh" name="searh"></input>
                        <button class="btn btn-outline-success " type="submit">Rechercher</button>
                    </form>         
                    {% endif %} 
            </div>
        </div>
    </nav>       
</div>
{% block content %}{% endblock content %}
    </div>
</div>
{% block footer%}{% endblock footer %}
</body>